<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit delectus ex hic illum autem, dolorem sint voluptas. Facere facilis autem nulla temporibus distinctio, officiis asperiores, sed possimus neque commodi quo, quaerat voluptas aliquam animi sint adipisci culpa fugiat minus dolor sit labore fuga id. Dolor autem tempore, ratione non voluptate cum doloribus nobis minus quasi dignissimos nisi, possimus. Est consectetur, dicta mollitia deserunt quam impedit. Recusandae expedita perferendis nisi alias ullam est ea cumque iure distinctio esse, quo nemo officia, praesentium sequi nam optio similique. Deleniti, excepturi beatae facilis sint, quaerat dolore maxime pariatur quibusdam delectus autem similique harum libero.</h3>
<ui-view></ui-view>

<a ui-sref="about.team">Team</a>
<a ui-sref="about.portfolio">Portfolio</a>
<a ui-sref="home">Home</a>
